{# @var craft \craft\web\twig\variables\CraftVariable #}

{% import _self as self %}
{% import "admin-bar/icons" as icons %}

{% set devMode = craft.app.config.general.devMode %}

{% set classes = [] %}

{% if fixed ?? false %}
    {% set classes = classes|merge(['fixed']) %}
{% elseif sticky ?? false %}
    {% set classes = classes|merge(['sticky']) %}
{% endif %}

{% if rtl ?? false %}
    {% set classes = classes|merge(['rtl']) %}
{% endif %}

{% set adminBarAttributes = {
    class: classes,
    'greeting-text': 'greeting-text'|t('admin-bar', params = { name: currentUser.friendlyName }),
    'logout-href': url(logoutUrl),
    'logout-label': 'logout-label'|t('admin-bar'),
    'show-environment': devMode,
    'show-greeting': displayGreeting,
    'show-logout': displayLogout,
} %}

{% if currentUser and (currentUser.photo ?? false) %}
    {% set adminBarAttributes = adminBarAttributes|merge({
        'avatar-alt': 'avatar-alt'|t('admin-bar', params = { name: currentUser.friendlyName }),
        'avatar-src': currentUser.getThumbUrl(50),
    }) %}
{% endif %}

<admin-bar {{ attr(adminBarAttributes) }}>
    {% if displayDashboardLink ?? true %}
        <admin-bar-button button-href="{{ url(craft.app.config.general.cpTrigger ~ '/dashboard') }}" label-text="{{ 'Dashboard'|t }}"><span slot="label-before">{{ icons.dashboard }}</span></admin-bar-button>
    {% endif %}

    {% if editLinkUrl ?? false %}
        <admin-bar-button button-href="{{ url(editLinkUrl) }}" label-text="{{ 'Edit'|t('admin-bar') ~ (editLinkLabel ?? false ? ' ' ~ editLinkLabel : '') }}"><span slot="label-before">{{ icons.edit }}</span></admin-bar-button>
    {% else %}
      {% if entry ?? false and ((userCanEdit ?? false) or (entry.section.id in craft.app.sections.editableSectionIds)) %}
        {% set sectionName = displayDefaultEditSection ? ' ' ~ entry.section : ''  %}
        {% set entryEditUrl = entry.cpEditUrl %}

        <admin-bar-button button-href="{{ url(entryEditUrl) }}" label-text="{{ 'Edit'|t('admin-bar') ~ (editLinkLabel ?? false ? ' ' ~ editLinkLabel : '') }}"><span slot="label-before">{{ icons.edit }}</span></admin-bar-button>
      {% endif %}
    {% endif %}

    {% if (displayGuideLink ?? true) and plugin('guide') and (currentUser ? currentUser.can('accessPlugin-guide') : true) %}
        <admin-bar-button button-href="{{ url(craft.app.config.general.cpTrigger ~ '/guide') }}" label-text="{{ 'Guide'|t('admin-bar') }}"><span slot="label-before">{{ icons.guide }}</span></admin-bar-button>
    {% endif %}

    {% if customLinks|length %}
        {% for link in customLinks %}
            {% if link.linkUrl|length %}
                {% if link.adminOnly != true %}
                    <admin-bar-button button-href="{{ url(link.linkUrl) }}" label-text="{{ link.linkLabel|t('admin-bar') }}"></admin-bar-button>
                {% elseif link.adminOnly and currentUser and currentUser.admin %}
                    <admin-bar-button button-href="{{ url(link.linkUrl) }}" label-text="{{ link.linkLabel|t('admin-bar') }}"></admin-bar-button>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% for link in additionalLinks %}
        {{ self.addConfigLink(link) }}
    {% endfor %}

    {% if currentUser and currentUser.admin and displaySettingsLink ?? true %}
        <admin-bar-button button-href="{{ url(craft.app.config.general.cpTrigger ~ '/settings') }}" label-text="{{ 'Settings'|t('admin-bar') }}"><span slot="label-before">{{ icons.settings }}</span></admin-bar-button>
    {% endif %}
</admin-bar>

{% if useCss %}
    {% set onPageCss %}
        @layer admin-bar {
            admin-bar {
                & svg.icon {
                    display: block;
                    width: 15px;
                    height: auto;
                }
            }
        }
    {% endset %}
    {% css onPageCss %}
{% endif %}

{% macro addConfigLink(link) %}
    {% if link.linkParams is defined %}
        {% set params = link.linkParams %}
    {% else %}
        {% set params = '' %}
    {% endif %}

    {% set params = link.params ?? '' %}
    {% set protocol = link.protocol ?? '' %}
    {% set mustShowScriptName = link.mustShowScriptName ?? '' %}

    {% set userHasPermission = true %}
    {% if link.admin is defined and link.admin %}
        {% if currentUser and not currentUser.admin %}
            {% set userHasPermission = false %}
        {% endif %}
    {% elseif link.permissions is defined and link.permissions|length %}
        {% for permission in link.permissions %}
            {% if currentUser and not currentUser.can(permission) %}
                {% set userHasPermission = false %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if link.type == 'url' and userHasPermission %}
        <admin-bar-button button-href="{{ url(link.url, params, protocol, mustShowScriptName) }}" label-text="{{ link.title|t('admin-bar') }}"></admin-bar-button>
    {% elseif link.type == 'cpUrl' and userHasPermission %}
        <admin-bar-button button-href="{{ url(craft.app.config.general.cpTrigger ~ '/' ~ link.url, params, protocol, mustShowScriptName) }}" label-text="{{ link.title|t('admin-bar') }}"></admin-bar-button>
    {% elseif link.type == 'action' and userHasPermission %}
        {% set actionParams = params|length ? params ~ '&returnUrl=' ~ craft.request.url : 'returnUrl=' ~ craft.request.url %}
        <admin-bar-button button-href="{{ actionUrl(link.url, actionParams) }}" label-text="{{ link.title|t('admin-bar') }}"></admin-bar-button>
    {% endif %}
{% endmacro %}
