{% set bgColor = bgColor ?? '#d85b4b' %}
{% set containerSelector = containerSelector ?? null %}
{% set devNote = devNote ?? '' %}
{% set highlightColor = highlightColor ?? '#d85b4b' %}
{% set id = id ?? 0 %}
{% set localesEnabled = localesEnabled ?? false %}
{% set showEditInfo = showEditInfo ?? true %}
{% set textColor = textColor ?? '#d85b4b' %}
{% set useCss = useCss ?? true %}
{% set useJs = useJs ?? true %}

{% if entry ?? false %}
    {% if localesEnabled %}
        {% set url = entry.cpEditUrl ~ '/' ~ entry.locale %}
    {% else %}
        {% set url = entry.cpEditUrl %}
    {% endif %}
{% endif %}

{% set js = '' %}

{% if not editEmbedded %}
    {% set newJs %}
        "use strict";var adminBarEditLinks=[],ready=function(t){if("function"==typeof t)return"complete"===document.readyState||"interactive"===document.readyState?t():void document.addEventListener("DOMContentLoaded",t,!1)};ready(function(){function t(t,e){t.classList?t.classList.add(e):t.className+=" "+e}function e(t,e){for(var n=0,i=t.length;n<i;n++)if(t[n]==e)return!0;return!1}function n(t,n){for(var i=document.querySelectorAll(n),r=t.parentNode;r&&!e(i,r);)r=r.parentNode;return r}for(var i,r=0;r<adminBarEditLinks.length;r++){if(i=document.querySelectorAll('.editlink[data-id="'+r+'"]'),i[0].innerHTML=adminBarEditLinks[r],i[0].hasAttribute("data-container")){var a=n(i[0],i[0].getAttribute("data-container"));null!==a&&t(a,"editlink__container")}t(i[0],"editlink--embedded")}});
    {% endset %}
    {% set js = js ~ newJs %}

    {% if useCss %}
        {% set newCss %}
            :root{--adminbar-color-white:#fff;--adminbar-color-black:#000;--adminbar-color-gray-dark:#505050;--adminbar-color-gray-light:#f5f5f5;--adminbar-color-bg:rgba(0,0,0,0.8);--adminbar-color-greeting:rgba(255,255,255,0.8);--adminbar-color-highlight:#d85b4b;--adminbar-color-text:#fff;--adminbar-font-size:17px}.adminbar__icon{display:inline-block;margin-right:5px;width:15px;-webkit-transform:translateY(2px);transform:translateY(2px)}.adminbar__icon svg{width:100%}@media screen and (max-width: 600px){.adminbar .adminbar__icon{margin-right:7px;width:22px}}.editlink--embedded{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin:20px 0;position:relative;width:100%;background-color:var(--adminbar-color-gray-light);border:1px solid var(--adminbar-color-bg);-webkit-box-sizing:border-box;box-sizing:border-box;font-family:"BlinkMacSystemFont",-apple-system,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;font-size:17px;color:var(--adminbar-color-gray-dark);-webkit-transition:border .2s ease-out, opacity .2s ease-out;transition:border .2s ease-out, opacity .2s ease-out}.editlink--embedded:hover{border-color:var(--adminbar-color-highlight)}.editlink__link{display:inline-block;padding:9px 9px 7px;background-color:var(--adminbar-color-bg);color:var(--adminbar-color-text) !important;text-decoration:none !important;text-transform:uppercase;-webkit-transition:background .2s ease-out, color .2s ease-out;transition:background .2s ease-out, color .2s ease-out;white-space:nowrap}.editlink__link svg path{-webkit-transition:fill .2s ease-out;transition:fill .2s ease-out;fill:var(--adminbar-color-text)}.editlink__link:hover{background-color:var(--adminbar-color-highlight);color:var(--adminbar-color-white) !important}.editlink__link:hover svg path{fill:var(--adminbar-color-white)}.editlink__info{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column nowrap;flex-flow:column nowrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-flex:1;-ms-flex:1 0 100%;flex:1 0 100%;padding:8px 10px;background-color:var(--adminbar-color-bg);-webkit-box-sizing:border-box;box-sizing:border-box;font-family:"BlinkMacSystemFont",-apple-system,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;font-size:.8em;line-height:1.5;color:var(--adminbar-color-text)}.editlink__info p{margin:0 0 8px;max-width:700px}.editlink__info p:last-child{margin-bottom:0}.editlink__info a{color:var(--adminbar-color-highlight) !important}.editlink__entry_updated{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-right:10px;font-weight:500;font-size:.8em}.editlink__user_photo{padding-right:7px;width:23px;line-height:0;padding-left:7px}.editlink__user_photo img{max-width:100%;height:auto;border-radius:50%}.editlink__revision_note{max-width:700px}@media screen and (min-width: 601px){.editlink.editlink--embedded__container .editlink.editlink--embedded{margin:20px 0 0;border:none;opacity:.3}.editlink__container{margin-bottom:20px;outline:1px dashed transparent;outline-offset:3px;-webkit-transition:outline-color .2s ease-out;transition:outline-color .2s ease-out}.editlink__container:hover{outline-color:var(--adminbar-color-highlight)}.editlink__container:hover .editlink{opacity:1}}

            :root {
                --adminbar-color-gray-dark: rgba({{ bgColor }}, .9);
                --adminbar-color-bg: rgba({{ bgColor }}, .8);
                --adminbar-color-greeting: rgba({{ textColor }}, .8);
                --adminbar-color-highlight: rgb({{ highlightColor }});
                --adminbar-color-text: rgb({{ textColor }});
            }
        {% endset %}
        {% css newCss %}
    {% endif %}
{% endif %}

{% if enabled %}
    {% set editLink %}{% spaceless %}
        <a class="editlink__link admin_bar_has_icon" href="{{ url }}"><span class="adminbar__icon"><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 228.93 228.72"><path d="M227.35 48.35a14.64 14.64 0 0 0-2.79-17L197.84 4.58a15.47 15.47 0 0 0-17.42-3.17l-5.95 4.74L14.29 166.33 0 228.72l62.39-14.29L222.57 54.26zM32.59 210.92a30 30 0 0 0-14.84-14.58l5.53-24.15 14.14 6.91 13.06 13.06 6.86 13z" fill="#fff"/></svg></span>{{ 'Edit'|t }}</a>
        {% if (entry ?? false) and (displayEditDate or displayEditAuthor) and showEditInfo %}
            <div class="editlink__entry_updated">Last updated{% if displayEditDate %} {{ entry.dateUpdated|date('m/d/Y') }}{% endif %}{% if displayEditAuthor %} by {% if currentUser.photo ?? false %}
                    <span class="editlink__user_photo">
                    <img src="{{ currentUser.getThumbUrl(40) }}" alt="{{ currentUser.friendlyName }}’s photo"/>
                    </span>{% endif %}{{ revisionAuthor.friendlyName ?? entry.author.friendlyName }}{% endif %}
            </div>
        {% endif %}
        {% if (displayRevisionNote and revisionNote is defined and revisionNote|length) or devNote|length %}
            <div class="editlink__info">
                {% if displayRevisionNote and (revisionNote is defined and revisionNote|length) %}
                    <div class="editlink__revision_note">
                        <b>Version Note</b> &ldquo;{{ revisionNote }}&rdquo;
                    </div>
                {% endif %}
                {% if devNote|length %}
                    <div class="editlink__entry_note">{{ devNote }}</div>
                {% endif %}
            </div>
        {% endif %}
    {% endspaceless %}{% endset %}

    {% if useJs %}
        {% set newJs %}
            adminBarEditLinks.push('{{ editLink }}');
        {% endset %}
        {% set js = js ~ newJs %}

        {% js js %}
    {% endif %}
{% endif %}

<div class="editlink{% if not useJs %} editlink--embedded{% endif %}" data-id="{{ id }}" {% if containerSelector is defined and containerSelector|length %}data-container="{{ containerSelector }}"{% endif %}>{% if not useJs %}{{ editLink }}{% endif %}</div>