{% import "_includes/forms" as forms %}
{% import "codeeditor/codeEditor" as codeEditor %}

<h2>{{ 'Preview'|t('admin-bar') }}</h2>

<div class="admin-bar-settings-preview" style="position: relative;">
    {{ adminBar({ force: true }) }}
</div>

<hr>

{{ forms.editableTableField({
    label: 'Additional Links'|t('admin-bar'),
    instructions: 'Add your own links to the Admin Bar.'|t('admin-bar'),
    id: 'customLinks',
    name: 'customLinks',
    addRowLabel: 'Add a link'|t('little-layout'),
    allowAdd: true,
    allowDelete: true,
    allowReorder: true,
    cols: {
        linkLabel: {
            heading: 'Label'|t('admin-bar'),
            type: 'singleline',
        },
        linkUrl: {
            heading: 'URL'|t('admin-bar'),
            type: 'singleline',
        },
        adminOnly: {
            heading: 'Admin only?'|t('admin-bar'),
            type: 'checkbox',
        },
    },
    rows: settings.customLinks ?? [],
}) }}

<hr>

{% set placeholder %}
admin-bar {
    --admin-bar-bg: linear-gradient(to bottom, oklch(0.11 0.3 190 / 0.67), oklch(0.11 0.3 190 / 0.8));
    --admin-bar-color-highlight: oklch(0.54 0.3 23.9);
    --admin-bar-color-text: rgb(228, 237, 246);
}
{% endset %}

{{ codeEditor.textareaField({
    label: 'Custom CSS'|t('admin-bar'),
    instructions: "Use CSS Custom Properties or your own custom CSS to re-brand Admin Bar."|t('admin-bar'),
    id: 'customCss',
    name: "customCss",
    placeholder: placeholder|replace({" ": "&nbsp;"})|raw|nl2br,
    value: settings.customCss,
    rows: 5,
}, "Custom CSS", {
    language: "css",
}, {
    wrapperClass: 'content-pane',
}) }}

<h2>{{ 'CSS Defaults'|t('admin-bar') }}</h2>
<p style="text-wrap: pretty;">{{ 'Below are the contents of the CSS file for the Admin Bar Component. You can override any of these CSS variables in your front-end stylesheet, or in the Custom CSS field above.'|t('admin-bar') }}</p>

{% set cssDefaults %}
/* Added styles to CSS Cascade Layer to make it easier to override them. */
@layer admin-bar {
  admin-bar {
    /* Sets the background of the bar using the background shorthand property,
    allowing you to use a gradient, a solid color, or an image. */
    --admin-bar-bg: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.9));

    /* Adds an effect to blur */
    --admin-bar-backdrop-filter: blur(20px) saturate(200%);

    /* The color used on hover changes. */
    --admin-bar-color-highlight: oklch(0.6 0.4 83);

    /* The highlight color specific to logout buttons. That can be set to
    a different color to make it more obvious that the logout button is not a link. */
    --admin-bar-color-highlight-logout: var(--admin-bar-color-highlight);

    /* The color of text for everything but button labels.. */
    --admin-bar-color-text: rgba(255, 255, 255, 0.8);

    /* The font stack for all text. */
    --admin-bar-font-stack: 'BlinkMacSystemFont', -apple-system, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;

    /* The font size for all text. */
    --admin-bar-font-size: .9rem;

    /* The height and width of avatar images. */
    --admin-bar-avatar-size: 25px;

    /* The height of the bar and all of the buttons. */
    --admin-bar-height: 43px;

    /* When `show-environment` is added to an `<admin-bar>` an environment
    warning will appear. The default looks like yellow, striped police tape,
    but you can use any CSS value used in the background shorthand property. */
    --admin-bar-environment-bg: repeating-linear-gradient(
      -45deg,
      var(--admin-bar-environment-bg-color),
      var(--admin-bar-environment-bg-color) 18px,
      transparent 18px,
      transparent 30px
    );

    /* Change just the color of the yellow stripes in the environment warning. */
    --admin-bar-environment-bg-color: oklch(0.9 0.4 98);

    /* The height of the environment warning */
    --admin-bar-environment-height: 5px;

    /* The default transition duration for all animations.
    Set this to `0` to turn off transitions. */
    --admin-bar-transition-duration: 0.3s;

    /* Adds a box-shadow to the bar to increase visual elevation. */
    /*--admin-bar-shadow: 0 0 15px color-mix(in srgb, rgba(0, 0, 0, 0.7), currentColor 10%);*/

    /* Adds a box-shadow to avatar images and buttons. */
    --admin-bar-shadow-elements: 0 1px 2px color-mix(in srgb, rgba(0, 0, 0, 0.5), currentColor 10%), 0 3px 6px color-mix(in srgb, rgba(0, 0, 0, 0.4), currentColor 10%);

    /* By default, when adding the `fixed` or `sticky` class to an `<admin-bar>`,
     the z-index of the element is set to `1`. Set this property if you need the
     z-index to be a higher value. */
    /*--admin-bar-z-index: 1;*/

    /* The background of all buttons. */
    --admin-bar-button-color-bg: transparent;

    /* The text of all button labels. */
    --admin-bar-button-color-text: rgb(255, 255, 255);

    /* ====================================================================== */

    /* Default styles for the `<admin-bar>` element. */
    --environment-height: 0px;
    display: block;
    width: var(--admin-bar-width, 100%);
    height: calc(var(--admin-bar-height, 43px) + var(--environment-height));

    /* Add height when environment warning is enabled. */
    &[show-environment] {
      --environment-height: var(--admin-bar-environment-height);
    }
    /* Set read direction from right to left. */
    &.rtl {
      direction: rtl;
    }
    /* Fixes `<admin-bar>` to the top of page. */
    &.fixed {
      position: fixed;
      right: 0;
      left: 0;
      z-index: var(--admin-bar-z-index, 1);

      &:not(.bottom) {
        top: 0;
      }
    }
    /* Sticks `<admin-bar>` to the top of the page when scrolling. */
    &.sticky {
      position: sticky;
      right: 0;
      left: 0;
      z-index: var(--admin-bar-z-index, 1);

      &:not(.bottom) {
        top: 0;
      }
    }
    /* Moves `<admin-bar>` to the bottom of the page when using `.fixed` or `.sticky`. */
    &.bottom {
      right: 0;
      bottom: 0;
      left: 0;
    }

    /* Avoid layout shift from happening before Admin Bar Component is registered. */
    &:not(:defined) {
      background: var(--admin-bar-bg);
      opacity: 0.75;

      /* Hide all slot content until Admin Bar Component is registered. */
      & * {
        display: none;
      }
    }
  }

  @media (prefers-reduced-motion) {
    admin-bar {
      /* Turns off transitions for users who do not want any animations. */
      --admin-bar-transition-duration: 0s;
    }
  }
}
{% endset %}

{{ codeEditor.textareaField({
    value: cssDefaults|raw,
}, "Code Editor", {
    language: "css",
    readOnly: true,
}, {
    maxEditorRows: 0,
    wrapperClass: 'content-pane',
}) }}