{% import "_includes/forms" as forms %}

<h2>Widgets</h2>
<p>Craft plugins can add context-aware widgets to Admin Bar.</p>

{% if widgets|length %}
    {% for item in widgets %}
        {% set id = item.pluginHandle ~ '_' ~ item.handle %}
        {{ forms.lightswitchField({
            label: item.pluginName ~ ': ' ~ item.name,
            id: 'widgets[' ~ id ~ ']',
            name: 'widgets[' ~ id ~ ']',
            instructions: item.description ?? null,
            on: settings.widgets[id] ?? false ? settings.widgets[id] : false,
        }) }}
    {% endfor %}
{% else %}
    <p>The plugins you have installed do not provide Admin Bar Widgets, yet.</p>
{% endif %}

<hr>

<h2>Additional Links</h2>
<p>Add your own links to the Admin Bar.</p>

{{ forms.editableTableField({
    'label': 'Custom Links',
    'id': 'customLinks',
    'name': 'customLinks',
    'addRowLabel': 'Add a link',
    'cols': {
        'linkLabel': {
            'heading': 'Label',
            'type': 'singleline',
        },
        'linkUrl': {
            'heading': 'URL',
            'type': 'singleline',
        },
        'adminOnly': {
            'heading': 'Admin only?',
            'type': 'checkbox',
        },
    },
    'rows': settings.customLinks ?? ['','',''],
}) }}

<hr>

<h2>Colors</h2>
<p>Use CSS Custom Properties or your own custom CSS to re-brand Admin Bar.</p>

{{ forms.textareaField({
    label: 'Custom CSS',
    id: 'customCss',
    name: 'customCss',
    rows: 10,
    value: settings.customCss,
    placeholder: ':root {\n  --adminbar-color-bg: #222;\n  --adminbar-color-highlight: #c0c;\n  --adminbar-color-link-text: #ccc;\n}'
}) }}

{% set cssVariables = [
    ['<b>--adminbar-bg</b>: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .95));', 'The background of Admin Bar. This is used as shorthand for the CSS `background` property.'],
    ['<b>--adminbar-color-bg</b>: rgba(0, 0, 0, .8);', 'The background color of Admin Bar if --adminbar-bg is not set.'],
    ['<b>--adminbar-color-border</b>: rgb(80, 80, 80);', 'The color of borders that separate sections in Admin Bar'],
    ['<b>--adminbar-color-highlight</b>: rgb(216, 91, 75);', 'The color that appears when links are rolled over.'],
    ['<b>--adminbar-color-link-text</b>: rgb(255, 255, 255);', 'The color of link text.'],
    ['<b>--adminbar-color-text</b>: rgba(255, 255, 255, .8);', 'The color of all other text.'],
    ['<b>--adminbar-font-stack</b>: \'BlinkMacSystemFont\', -apple-system, \'Trebuchet MS\', \'Lucida Grande\', \'Lucida Sans Unicode\', \'Lucida Sans\', Tahoma, sans-serif;', 'The fonts used in Admin Bar and Edit Links.'],
    ['<b>--adminbar-font-size-mobile</b>: 17px;', 'The mobile font size for type in Admin Bar and Edit Links.'],
    ['<b>--adminbar-font-size-desktop</b>: 14px;', 'The font size for type in Admin Bar and Edit Links in a viewport above 601px wide.'],
    ['<b>--adminbar-height-mobile</b>: 52px;', 'The height of Admin Bar and the top of Edit Links on mobile.'],
    ['<b>--adminbar-height-desktop</b>: 45px;', 'The height of Admin Bar and the top of Edit Links in a viewport above 601px wide.'],
    ['<b>--editlinks-bg</b>: var(--editlinks-color-bg);', 'The background of Edit Links. This is used as shorthand for the CSS `background` property.'],
    ['<b>--editlinks-color-bg</b>: rgba(0, 0, 0, .8);', 'The background color of Edit Links if --adminbar-bg is not set.'],
    ['<b>--editlinks-color-border</b>: var(--adminbar-color-border);', 'Color of borders in Edit Links'],
    ['<b>--editlinks-color-highlight</b>: var(--adminbar-color-highlight);', 'The color that appears when links are rolled over.'],
    ['<b>--editlinks-color-text</b>: rgb(80, 80, 80);', 'The color of all other text.'],
] %}
<div style="display: grid; grid-template-columns: minmax(100px, 450px) auto; grid-template-rows: auto; grid-gap: 5px 30px;">
    {% for item in cssVariables %}
        <div>{{ item[0]|raw }}</div>
        <div>{{ item[1]|raw }}</div>
    {% endfor %}
</div>