{% set widgetElement = widgetConfig['cachedDate'] ?? false ? 'admin-bar-button' : 'admin-bar-text' %}

{% set widgetContent %}
  {{ iconSvg('bolt')|attr({ class: 'icon', style: {
    '--admin-bar-icon-width': '1rem',
    color: widgetConfig['cached'] ? '#fec136' : 'color-mix(in srgb, #333f4c, transparent 50%)',
    stroke: widgetConfig['cached'] ? null : 'var(--admin-bar-button-color-text)',
    'stroke-width': widgetConfig['cached'] ? null : '15px',
    'stroke-linejoin': widgetConfig['cached'] ? null : 'round',
  } }) }}

  {% if displayWidgetLabels %}
    <admin-bar-text
        label-content="{{ widgetConfig['cached'] ? 'Cached'|t('admin-bar') : 'Uncached'|t('admin-bar') }}"
        style="--admin-bar-text-padding: 0; display: block;"
    ></admin-bar-text>
    {{ widgets[pluginHandle].name }}
  {% else %}
    {{ widgetConfig['cached'] ? 'Cached'|t('admin-bar') : 'Uncached'|t('admin-bar') }}
  {% endif %}

  {% if widgetConfig['cachedDate'] ?? false %}
    <div slot="popover">
      <admin-bar-text
          label-content="{{ widgetConfig['cachedDate']|datetime('short') }}"
          label-position="after"
      >{{ 'Cached Date'|t('admin-bar') }}</admin-bar-text>
    </div>
  {% endif %}
{% endset %}
<{{ widgetElement }}
class="admin-bar-widget"
title="{{ widgets[pluginHandle].name }}"
style="--admin-bar-icon-width: 1.5rem"
>{{ widgetContent }}</{{ widgetElement }}>

