{% set widgetElement = widgetConfig['cachedDate'] ?? false ? 'admin-bar-button' : 'admin-bar-text' %}

{% set widgetContent %}
  {{ iconSvg('bolt')|attr({ class: 'icon', style: {
    '--admin-bar-icon-width': '1rem',
    color: widgetConfig['cached'] ? '#fec136' : 'color-mix(in srgb, #333f4c, transparent 50%)',
    stroke: widgetConfig['cached'] ? null : 'var(--admin-bar-button-color-text)',
    'stroke-width': widgetConfig['cached'] ? null : '15px',
    'stroke-linejoin': widgetConfig['cached'] ? null : 'round',
  } }) }}

  {% if displayWidgetLabels %}
    <admin-bar-text
        badge-content="{{ widgetConfig['cached'] ? 'Cached'|t('admin-bar') : 'Uncached'|t('admin-bar') }}"
        style="--admin-bar-text-padding: 0;"
    ></admin-bar-text>
    {{ widgets[pluginHandle].name }}
  {% else %}
    {{ widgetConfig['cached'] ? 'Cached'|t('admin-bar') : 'Uncached'|t('admin-bar') }}
  {% endif %}

  {% if widgetConfig['cachedDate'] ?? false %}
    <div slot="popover">
      {% set popoverInfo = [['Cached Date'|t('admin-bar'), widgetConfig['cachedDate']|datetime()]] %}
      <admin-bar-text dl-content="{{ popoverInfo|json_encode }}"></admin-bar-text>
      <admin-bar-button onclick="window.adminBarPostRequest(this, 'blitz-refresh-cache', {{ widgetConfig['siteUri']|json_encode|json_encode }})" style="--admin-bar-icon-width: 1rem">
        {{ iconSvg('arrows-rotate')|attr({ class: 'icon' }) }}
        {{ 'Refresh Page'|t('admin-bar') }}
      </admin-bar-button>
    </div>
  {% endif %}
{% endset %}
<{{ widgetElement }}
class="admin-bar-widget admin-bar-widget--blitz"
style="--admin-bar-icon-width: 1.5rem"
>{{ widgetContent }}</{{ widgetElement }}>

