{% import 'admin-bar/_plugin-widgets-macros' as pluginWidgets %}

{% if widgetConfig['sections']|length %}
  <admin-bar-button class="admin-bar-widget" style="--admin-bar-icon-width: 1.1rem">
    {{ iconSvg('plus')|attr({ class: 'icon', slot: 'before-label' }) }}
    {{ pluginWidgets.widgetBadgeAndLabel(null, widgets[pluginHandle].name, displayWidgetLabels) }}
    <div slot="popover">
      {% for section in widgetConfig['sections'] %}
        <admin-bar-button button-href="{{ cpUrl('entries/' ~ section.handle ~ '/new') }}">
          <span style="--admin-bar-icon-width: 0.9rem">{{ svg('@appicons/' ~ section.icon ~ '.svg')|attr({ class: 'icon' }) }}</span>
          {{ section.name }}
        </admin-bar-button>
      {% endfor %}
    </div>
  </admin-bar-button>
{% endif %}
