{% if entry ?? false %}
  {% set popoverInfo = [] %}

  {% if entry.dateCreated %}
    {% set popoverInfo = popoverInfo|merge([['Created at'|t('admin-bar'), entry.dateCreated|date('medium') ~ ' ' ~ entry.dateCreated|time('short')]]) %}
  {% endif %}

  {% if entry.dateUpdated %}
    {% set popoverInfo = popoverInfo|merge([['Updated at'|t('admin-bar'), entry.dateUpdated|date('medium') ~ ' ' ~ entry.dateUpdated|time('short')]]) %}
  {% endif %}

  {% if entry.id %}
    {% set popoverInfo = popoverInfo|merge([['Entry ID'|t('admin-bar'), entry.id]]) %}
  {% endif %}

  {% if entry.currentRevision.revisionNotes ?? false %}
    {% set popoverInfo = popoverInfo|merge([['Notes'|t('admin-bar'), entry.currentRevision.revisionNotes]]) %}
  {% endif %}

  <admin-bar-button class="admin-bar-widget" title="{{ 'Post Date'|t('admin-bar') }}">
    {{ iconSvg('newspaper')|attr({ class: 'icon' }) }}
    {% set postDateValue = entry.postDate|date('medium') ~ ' ' ~ entry.postDate|time('short') %}
    {% if displayWidgetLabels %}
      <admin-bar-text
          label-content="{{ postDateValue }}"
          style="--admin-bar-text-padding: 0; display: block;"
      ></admin-bar-text>
      {{ 'Post Date'|t('admin-bar') }}
    {% else %}
      {{ postDateValue }}
    {% endif %}

    {% if popoverInfo|length %}
      <div slot="popover">
        <admin-bar-text dl-content="{{ popoverInfo|json_encode }}" title="{{ 'Publishing Information'|t('admin-bar') }}"></admin-bar-text>
      </div>
    {% endif %}
  </admin-bar-button>
{% endif %}