{% if entry ?? false %}
  <admin-bar-button class="admin-bar-widget admin-bar-widget--craft-authors" title="{{ widgets[pluginHandle].name }}">
    {{ iconSvg('newspaper')|attr({ class: 'icon' }) }}
    {% set postDateValue = entry.postDate|date('medium') ~ ' ' ~ entry.postDate|time('short') %}
    {% if displayWidgetLabels %}
      <admin-bar-text
          label-content="{{ postDateValue }}"
          style="--admin-bar-text-padding: 0; display: block;"
      ></admin-bar-text>
      {{ 'Post Date'|t('admin-bar') }}
    {% else %}
      {{ postDateValue }}
    {% endif %}
    <div slot="popover">
      {% if entry.dateCreated %}
        <admin-bar-text
            label-content="{{ entry.dateCreated|date('medium') ~ ' ' ~ entry.dateCreated|time('short') }}"
            text-content="{{ 'Created at'|t('admin-bar') }}"
            style="display: block;"
        ></admin-bar-text>
      {% endif %}

      {% if entry.dateUpdated %}
        <admin-bar-text
            label-content="{{ entry.dateUpdated|date('medium') ~ ' ' ~ entry.dateUpdated|time('short') }}"
            text-content="{{ 'Updated at'|t('admin-bar') }}"
            style="display: block;"
        ></admin-bar-text>
      {% endif %}

      {% if entry.id %}
        <admin-bar-text
            label-content="{{ entry.id }}"
            text-content="{{ 'Entry ID'|t('admin-bar') }}"
            style="display: block;"
        ></admin-bar-text>
      {% endif %}

      {% if entry.currentRevision.revisionNotes ?? false %}
        <admin-bar-text
            label-content="{{ entry.currentRevision.revisionNotes }}"
            style="display: block; border-block-start: 1px solid color-mix(in srgb, var(--admin-bar-button-color-bg-hover), transparent 80%);"
        >{{ 'Notes'|t('admin-bar') }}</admin-bar-text>
      {% endif %}
    </div>
  </admin-bar-button>
{% endif %}