{% set pluginHandle = 'seomatic' %}

{% if entry ?? false %}
  {% set seomaticMetaGql = gql('{
    entry(id: "' ~ entry.id ~ '", siteId: "' ~ entry.siteId ~ '") {
      seomatic(asArray: true) {
        metaTitleContainer
        metaTagContainer
        metaLinkContainer
        metaScriptContainer
        metaJsonLdContainer
        metaSiteVarsContainer
      }
    }
  }').data.entry.seomatic %}

  {% set metaTitleContainer = seomaticMetaGql.metaTitleContainer|json_decode %}
  {% set metaTagContainer = seomaticMetaGql.metaTagContainer|json_decode %}
  {% set metaLinkContainer = seomaticMetaGql.metaLinkContainer|json_decode %}
  {% set metaJsonLdContainer = seomaticMetaGql.metaJsonLdContainer|json_decode %}

  {% set meta = {
    canonical: metaLinkContainer.canonical.href ?? null,
    description: metaTagContainer.description.content ?? null,
    imageAlt: metaTagContainer['og:image:alt'].content ?? null,
    imageUrl: metaTagContainer['og:image'].content ?? null,
    mainEntity: metaJsonLdContainer.mainEntityOfPage['@type'] ?? null,
    title: metaTitleContainer.title.title ?? null,
  } %}

  <admin-bar-button class="admin-bar-widget" style="--admin-bar-icon-width: 1.5rem" title="{{ widgetPlugins[pluginHandle].name }}">
    {{ svg('@nystudio107/seomatic/icon-mask.svg')|attr({ class: 'icon' }) }}
    {{ displayWidgetLabels ? widgetPlugins[pluginHandle].name : '' }}
    <div slot="popover" style="--admin-bar-text-padding: 0; display: flex; flex-flow: row wrap; gap: 14px; width: min(400px, 90vw); padding: clamp(4px, 1vw, 13px);">
      {% if meta.mainEntity ?? false %}
        <admin-bar-text
            multi-line
            label-content="{{ meta.mainEntity }}"
            label-position="after"
            title="{{ 'Schema.org Main Entity'|t('admin-bar') }}"
        >{{ 'Main Entity'|t('admin-bar') }}</admin-bar-text>
      {% endif %}
      {% if meta.imageUrl ?? false %}
        <img
            src="{{ meta.imageUrl }}"
            alt="{{ meta.imageAlt }}"
            style="display: block; max-width: 100%; height: auto; border-radius: var(--admin-bar-border-radius);"
            title="og:image"
        >
      {% endif %}
      {% if meta.title ?? false %}
        <admin-bar-text multi-line title="{{ 'Page Title'|t('admin-bar') }}"><strong style="text-wrap: pretty;">{{ meta.title }}</strong></admin-bar-text>
      {% endif %}
      {% if meta.description ?? false %}
        <admin-bar-text multi-line title="{{ 'Page Description'|t('admin-bar') }}"><span style="text-wrap: pretty;">{{ meta.description }}</span></admin-bar-text>
      {% endif %}
      {% if meta.canonical ?? false %}
        <admin-bar-text multi-line title="{{ 'Canonical URL'|t('admin-bar') }}"><em><a href="{{ meta.canonical }}" style="color: var(--admin-bar-button-popover-color-text, rgb(255 255 255)); word-break: break-all">{{ meta.canonical }}</a></em></admin-bar-text>
      {% endif %}
    </div>
  </admin-bar-button>
{% endif %}
