{% set pluginHandle = 'seomatic' %}

{% if entry ?? false %}
  {% set seomaticMetaGql = gql('{
    entry(id: "' ~ entry.id ~ '", siteId: "' ~ entry.siteId ~ '") {
      seomatic(asArray: true) {
        metaTitleContainer
        metaTagContainer
        metaLinkContainer
        metaScriptContainer
        metaJsonLdContainer
        metaSiteVarsContainer
      }
    }
  }').data.entry.seomatic %}

  {% set metaTitleContainer = seomaticMetaGql.metaTitleContainer|json_decode %}
  {% set metaTagContainer = seomaticMetaGql.metaTagContainer|json_decode %}
  {% set metaLinkContainer = seomaticMetaGql.metaLinkContainer|json_decode %}
  {% set metaJsonLdContainer = seomaticMetaGql.metaJsonLdContainer|json_decode %}

  {% set meta = {
    canonical: metaLinkContainer.canonical.href ?? null,
    description: metaTagContainer.description.content ?? null,
    imageAlt: metaTagContainer['og:image:alt'].content ?? null,
    imageUrl: metaTagContainer['og:image'].content ?? null,
    mainEntity: metaJsonLdContainer.mainEntityOfPage['@type'] ?? null,
    title: metaTitleContainer.title.title ?? null,
  } %}

  <admin-bar-button class="admin-bar-widget" style="--admin-bar-icon-width: 1.5rem" title="{{ widgetPlugins[pluginHandle].name }}">
    {{ svg('@nystudio107/seomatic/icon-mask.svg')|attr({ class: 'icon' }) }}
    {{ displayWidgetLabels ? widgetPlugins[pluginHandle].name : '' }}
    <div slot="popover" style="max-width: 400px; padding: clamp(4px, 1vw, 13px);">
      <img src="{{ meta.imageUrl }}" alt="{{ meta.imageAlt }}" style="display: block; width: min(374px, 70vw); height: auto; border-radius: var(--admin-bar-border-radius);">
      <p><strong>{{ meta.title }}</strong></p>
      <p>{{ meta.description }}</p>
      <p><em><a href="{{ meta.canonical }}" style="color: var(--admin-bar-button-popover-color-text, rgb(255 255 255)); word-break: break-all">{{ meta.canonical }}</a></em></p>
      <p><strong>Main Entity:</strong> {{ meta.mainEntity }}</p>
    </div>
  </admin-bar-button>
{% endif %}
